# Android

platforms/android/CordovaLib/build/intermediates/classes/release/
platforms/android/CordovaLib/build/intermediates/incremental/aidl/release/
platforms/android/CordovaLib/build/intermediates/incremental/mergeAssets/release/
platforms/android/CordovaLib/build/intermediates/incremental/packageResources/release/
platforms/android/CordovaLib/build/outputs/aar/CordovaLib-release.aar
platforms/android/CordovaLib/build/tmp/packageReleaseJar/
platforms/android/CordovaLib/build/intermediates/bundles/release/
platforms/android/CordovaLib/build/generated/source/buildConfig/release/
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml
*.lock
*.swp
*.bin 
*.lock
*.jar

# iOS
platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www
platforms/ios/MyPace/config.xml
platforms/ios/.staging
 
# Emulator logs
platforms/ios/cordova/console.log

# NPM
npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/
